<mat-drawer-container class="drawerContainer" autosize>
    <mat-drawer #groups_drawer class="inner" mode="side" disableClose position='end'>

    </mat-drawer>
    <mat-drawer-content class="inner custom-header">
        <div class="header">
            <mat-toolbar class="p-0">
                <span matTooltip="Back to classes" class="material-icons me-3">
                    <button class="custom-medium-fab closeIconColor mb-2" mat-mini-fab [color]="'primary'"
                        (click)="slideParent.emit(drawer)">
                        <mat-icon>keyboard_backspace</mat-icon>
                    </button>
                </span>
                <span class="name">Assign Students To Group [ {{group.title}} ] for Assignment [ {{assignment.title}}
                    ]</span>
                <!-- <span class="custom-search">
                        <mat-form-field appearance="outline">
                            <mat-label>Search</mat-label>
                            <input matInput (keyup)="applyFilter($event)" autocomplete="off">
                            <mat-icon matSuffix>search</mat-icon>
                        </mat-form-field>
                    </span> -->
            </mat-toolbar>
            <mat-divider></mat-divider>
        </div>
        <div slim-scroll [offset]="72" [alwaysVisible]="true">
            <div class="content ps-0 pe-0">
                <div cdkDropListGroup class="d-flex justify-content-center drag-drop-list">
                    <div class="students-list-container">
                        <div class="d-flex student-list-header">
                            <h2 class="flex-grow-1 m-0">Group Students</h2>
                            <span class="custom-search m-0 pt-1">
                                <mat-form-field appearance="outline">
                                    <mat-label>Search</mat-label>
                                    <input matInput [(ngModel)]="filteredGroupStudentsStr"
                                        (keyup)="filterGroupStudents()" autocomplete="off">
                                    <mat-icon matSuffix>search</mat-icon>
                                </mat-form-field>
                            </span>
                        </div>
                        <div cdkDropList [cdkDropListData]="filteredGroupStudents" class="students-list"
                            (cdkDropListDropped)="drop($event, 'GROUP')">
                            <div slim-scroll [offset]="58" [alwaysVisible]="true">
                                <div *ngIf="groupStudents.length === 0 then temp1 else temp2"></div>
                                <ng-template #temp1>
                                    <p class="empty-msg">Drag and drop students from class students.</p>
                                    <p class="empty-msg">(OR)</p>
                                    <p class="empty-msg">Select students and click on assign button.</p>
                                </ng-template>
                                <ng-template #temp2>
                                    <div class="student-snippet" *ngFor="let item of filteredGroupStudents"
                                        id="{{item.id}}" cdkDrag>
                                        <mat-checkbox name='selected' [(ngModel)]='item.selected'></mat-checkbox>
                                        {{item.firstName}} {{item.lastName}}
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                    <div class="assign-buttons">
                        <div slim-scroll [offset]="68" [alwaysVisible]="true">
                            <button mat-raised-button color="primary" (click)="assignSelectedStudents()">
                                <mat-icon class="me-2">keyboard_double_arrow_left</mat-icon>
                                <span>Assign</span>
                            </button>
                            <button mat-raised-button color="accent" (click)="unAssignSelectedStudents()">
                                <span>Un-Assign</span>
                                <mat-icon class="ms-2">keyboard_double_arrow_right</mat-icon>
                            </button>
                        </div>
                    </div>
                    <div class="students-list-container">
                        <div class="d-flex student-list-header">
                            <h2 class="flex-grow-1 m-0">Class Students</h2>
                            <span class="custom-search m-0 pt-1">
                                <mat-form-field appearance="outline">
                                    <mat-label>Search</mat-label>
                                    <input matInput [(ngModel)]="filteredClassStudentsStr"
                                        (keyup)="filterClassStudents()" autocomplete="off">
                                    <mat-icon matSuffix>search</mat-icon>
                                </mat-form-field>
                            </span>
                        </div>
                        <mat-divider></mat-divider>
                        <div cdkDropList [cdkDropListData]="filteredClassStudents"
                            (cdkDropListDropped)="drop($event, 'CLASS')" class="students-list">
                            <div slim-scroll [offset]="58" [alwaysVisible]="true">
                                <div *ngIf="classStudents.length === 0 then temp3 else temp4"></div>
                                <ng-template #temp3>
                                    <p class="empty-msg">No students are exists to add this group.</p>
                                    <p class="empty-msg">All class students are assigned to groups.</p>
                                </ng-template>
                                <ng-template #temp4>
                                    <div *ngFor="let item of filteredClassStudents" class="student-snippet"
                                        id="{{item.id}}" cdkDrag>
                                        <mat-checkbox name='selected' [(ngModel)]='item.selected'> </mat-checkbox>
                                        {{item.firstName}} {{item.lastName}}
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
<div>