<div class="student-chat">
    <mat-drawer-container class="drawerContainer" autosize>
        <mat-drawer #chat_drawer class="inner group-members" mode="side" position='end'>
            <div class="heading">
                <mat-toolbar>
                    <span>GROUP MEMBERS</span>
                </mat-toolbar>
            </div>
            <div class="members" slim-scroll [offset]="74">
                <div *ngIf="groupStudents.length === 0 then gm1 else gm2"></div>
                <ng-template #gm1>
                    <div class="no-items-instruction">
                        <div> No students found. </div>
                    </div>
                </ng-template>
                <ng-template #gm2>
                    <div class="member" *ngFor="let st of groupStudents" matTooltip="{{st.firstName}} {{st.lastName}}">
                        <div class="image">
                            <span class="material-icons">
                                <button class="custom-medium-fab" mat-mini-fab [color]="'primary'">
                                    {{st.firstName.charAt(0) | uppercase}}{{st.lastName.charAt(0) | uppercase}}
                                </button>
                            </span>
                        </div>
                        <div class="name">
                            {{st.firstName}} {{st.lastName}}
                        </div>
                    </div>
                </ng-template>
            </div>
        </mat-drawer>
        <mat-drawer-content class="inner custom-header pe-0">
            <div class="header">
                <mat-toolbar class="p-0">
                    <span matTooltip="Back to groups" class="material-icons me-3">
                        <button class="custom-medium-fab closeIconColor mb-2" mat-mini-fab [color]="'primary'"
                            (click)="slideParent.emit(drawer)">
                            <mat-icon>keyboard_backspace</mat-icon>
                        </button>
                    </span>
                    <span class="name">Group [ {{group.title}} ] Chat</span>
                    <span matTooltip="Download assignment file" class="material-icons pull-right me-2">
                        <button class="custom-medium-fab mb-2" mat-mini-fab [color]="'primary'"
                            (click)="downloadAssignmentFile()">
                            <mat-icon>file_download</mat-icon>
                        </button>
                    </span>
                    <span matTooltip="Group members" class="material-icons pull-right me-2">
                        <button class="custom-medium-fab mb-2" mat-mini-fab [color]="'primary'"
                            (click)="chat_drawer.toggle()">
                            <mat-icon>group</mat-icon>
                        </button>
                    </span>
                </mat-toolbar>
                <mat-divider></mat-divider>
            </div>
            <div class="messages-container">
                <div slim-scroll [offset]="67" [autoScrollToBottom]="true" [start]="'bottom'">
                    <div class="messages">
                        <div class="message">
                            <div class="image">
                                <span class="material-icons">
                                    <button mat-mini-fab [color]="'primary'">
                                        SJ
                                    </button>
                                </span>
                            </div>
                            <div class="in-msg">
                                <div class="details">
                                    <span class="sub-title">Srinath Jagarlamudi | 11:01 AM | June 9</span>
                                    <span class="title">Hello</span>
                                </div>
                            </div>
                        </div>
                        <div class="message">
                            <div class="out-msg">
                                <span class="sub-title out">Mahesh I | 11:02 AM | June 9</span>
                                <span class="title out">Hi</span>
                            </div>
                        </div>
                        <div class="message">
                            <div class="image">
                                <span class="material-icons">
                                    <button mat-mini-fab [color]="'primary'">
                                        SJ
                                    </button>
                                </span>
                            </div>
                            <div class="in-msg">
                                <div class="details">
                                    <span class="sub-title"> Srinath Jagarlamudi | 11:03 AM | June 9</span>
                                    <span class="title">Good morning</span>
                                </div>
                            </div>
                        </div>
                        <div class="message">
                            <div class="image">
                                <span class="material-icons">
                                    <button mat-mini-fab [color]="'primary'">
                                        DM
                                    </button>
                                </span>
                            </div>
                            <div class="in-msg">
                                <div class="details">
                                    <span class="sub-title"> Dawood Mohammad | 11:04 AM | June 9</span>
                                    <span class="title">Hello</span>
                                </div>
                            </div>
                        </div>
                        <div class="message">
                            <div class="out-msg">
                                <span class="sub-title out">Mahesh I | 11:05 AM | June 9</span>
                                <span class="title out">Hi Dawood</span>
                            </div>
                        </div>
                        <div class="message">
                            <div class="image">
                                <span class="material-icons">
                                    <button mat-mini-fab [color]="'primary'">
                                        DM
                                    </button>
                                </span>
                            </div>
                            <div class="in-msg">
                                <div class="details">
                                    <span class="sub-title"> Dawood Mohammad | 11:06 AM | June 9</span>
                                    <span class="title">Any help needed from backend?</span>
                                </div>
                            </div>
                        </div>
                        <div class="message">
                            <div class="out-msg">
                                <span class="sub-title out">Mahesh I | 11:07 AM | June 9</span>
                                <span class="title out">assignment create call is not working</span>
                            </div>
                        </div>
                        <div class="message">
                            <div class="image">
                                <span class="material-icons">
                                    <button mat-mini-fab [color]="'primary'">
                                        DM
                                    </button>
                                </span>
                            </div>
                            <div class="in-msg">
                                <div class="details">
                                    <span class="sub-title"> Dawood Mohammad | 11:08 AM | June 9</span>
                                    <span class="title">Ok I will check update you</span>
                                </div>
                            </div>
                        </div>
                        <div class="message">
                            <div class="out-msg">
                                <span class="sub-title out">Mahesh I | 11:08 AM | June 9</span>
                                <span class="title out">ok dawood</span>
                            </div>
                        </div>
                        <div class="message">
                            <div class="image">
                                <span class="material-icons">
                                    <button mat-mini-fab [color]="'primary'">
                                        DM
                                    </button>
                                </span>
                            </div>
                            <div class="in-msg">
                                <div class="details">
                                    <span class="sub-title"> Dawood Mohammad | 11:15 AM | June 9</span>
                                    <span class="title">Mahesh committed backend changes</span>
                                </div>
                            </div>
                        </div>
                        <div class="message">
                            <div class="image">
                                <span class="material-icons">
                                    <button mat-mini-fab [color]="'primary'">
                                        DM
                                    </button>
                                </span>
                            </div>
                            <div class="in-msg">
                                <div class="details">
                                    <span class="sub-title"> Dawood Mohammad | 11:15 AM | June 9</span>
                                    <span class="title">Srinath Can you please deploy the latest changes</span>
                                </div>
                            </div>
                        </div>
                        <div class="message">
                            <div class="image">
                                <span class="material-icons">
                                    <button mat-mini-fab [color]="'primary'">
                                        SJ
                                    </button>
                                </span>
                            </div>
                            <div class="in-msg">
                                <div class="details">
                                    <span class="sub-title"> Srinath Jagarlamudi | 11:16 AM | June 9</span>
                                    <span class="title">Ok</span>
                                </div>
                            </div>
                        </div>
                        <div class="message">
                            <div class="image">
                                <span class="material-icons">
                                    <button mat-mini-fab [color]="'primary'">
                                        SJ
                                    </button>
                                </span>
                            </div>
                            <div class="in-msg">
                                <div class="details">
                                    <span class="sub-title"> Srinath Jagarlamudi | 11:20 AM | June 9</span>
                                    <span class="title">Latest changes deployed, Mahesh please check</span>
                                </div>
                            </div>
                        </div>
                        <div class="message">
                            <div class="out-msg">
                                <span class="sub-title out">Mahesh I | 11:08 AM | June 9</span>
                                <span class="title out">ok srinath</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="write-msg">
                    <div>
                        <input type="text" placeholder="Type a message" />
                        <div class="send-msg">
                            <button mat-mini-fab color="primary" class="custom-medium-fab"
                                aria-label="Example icon button with a menu icon">
                                <mat-icon>send</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</div>