<div class="student-chat">
    <mat-drawer-container class="drawerContainer" autosize>
        <mat-drawer #chat_drawer class="inner group-members" mode="side" position='end'>
            <div class="heading">
                <mat-toolbar>
                    <span>GROUP MEMBERS</span>
                </mat-toolbar>
            </div>
            <div class="members" slim-scroll [offset]="74">
                <div *ngIf="groupStudents.length === 0 then gm1 else gm2"></div>
                <ng-template #gm1>
                    <div class="no-items-instruction">
                        <div> No students found. </div>
                    </div>
                </ng-template>
                <ng-template #gm2>
                    <div class="member" *ngFor="let st of groupStudents" matTooltip="{{st.firstName}} {{st.lastName}}">
                        <div class="image">
                            <span class="material-icons">
                                <button class="custom-medium-fab" mat-mini-fab [color]="'primary'">
                                    {{st.shortName}}
                                </button>
                            </span>
                        </div>
                        <div class="name"> {{st.userName}} </div>
                    </div>
                </ng-template>
            </div>
        </mat-drawer>
        <mat-drawer-content class="inner custom-header pe-0">
            <div class="header">
                <mat-toolbar class="p-0">
                    <span matTooltip="Back to groups" class="material-icons me-3">
                        <button class="custom-medium-fab closeIconColor mb-2" mat-mini-fab [color]="'primary'"
                            (click)="slideParent.emit(drawer)">
                            <mat-icon>keyboard_backspace</mat-icon>
                        </button>
                    </span>
                    <span class="name">Group [ {{group.title}} ] Chat</span>
                    <span matTooltip="Download assignment file" class="material-icons pull-right me-2">
                        <button class="custom-medium-fab mb-2" mat-mini-fab [color]="'primary'"
                            (click)="downloadAssignmentFile()">
                            <mat-icon>file_download</mat-icon>
                        </button>
                    </span>
                    <span matTooltip="Group members" class="material-icons pull-right me-2">
                        <button class="custom-medium-fab mb-2" mat-mini-fab [color]="'primary'"
                            (click)="chat_drawer.toggle()">
                            <mat-icon>group</mat-icon>
                        </button>
                    </span>
                </mat-toolbar>
                <mat-divider></mat-divider>
            </div>
            <div class="messages-container">
                <div slim-scroll [offset]="67" [autoScrollToBottom]="true" [start]="'bottom'"
                    (scroll)="onScroll($event)">
                    <div class="messages">
                        <div class="message" *ngFor="let data of chatMessages ">
                            <div *ngIf="data.type === 'CHAT' then ch1 else ch2"></div>
                            <ng-template #ch1>
                                <div *ngIf="data.sender !== loggedInUser.id then msg1 else msg2"></div>
                                <ng-template #msg1>
                                    <div class="image">
                                        <span class="material-icons">
                                            <button mat-mini-fab [color]="'primary'">
                                                {{data.shortName}}
                                            </button>
                                        </span>
                                    </div>
                                    <div class="in-msg">
                                        <div class="details">
                                            <span class="sub-title">
                                                {{data.userName}} |
                                                {{data.createdOn | date: 'dd MMM'}} |
                                                {{data.createdOn | date: 'h:mm:ss a'}}
                                            </span>
                                            <span class="title">{{data.content}}</span>
                                        </div>
                                    </div>
                                </ng-template>
                                <ng-template #msg2>
                                    <div class="out-msg">
                                        <span class="sub-title out">
                                            {{data.userName}} |
                                            {{data.createdOn | date: 'dd MMM'}} |
                                            {{data.createdOn | date: 'h:mm:ss a'}}
                                        </span>
                                        <span class="title out">{{data.content}}</span>
                                    </div>
                                </ng-template>
                            </ng-template>
                            <ng-template #ch2>
                                <div class="info-msg">
                                    <div class="line">
                                        <mat-divider></mat-divider>
                                    </div>
                                    <div class="name mat-typography">
                                        {{data.type === 'JOIN' ? ''+data.userName+' joined':''+data.userName+' left' }}
                                        | {{data.createdOn | date: 'dd MMM'}} | {{data.createdOn | date: 'h:mm:ss a'}}
                                    </div>
                                    <div class="line">
                                        <mat-divider></mat-divider>
                                    </div>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                </div>
                <div class="write-msg">
                    <form #f="ngForm" autocomplete="off" (onSubmit)="sendMessage()">
                        <div>
                            <input matInput type="text" name="content" placeholder="Type a message"
                                [(ngModel)]="chatMessage.content" (keyup.enter)="sendMessage()"
                                [disabled]="!isConnected" required auto-focus />
                            <div class="send-msg">
                                <button type="submit" mat-mini-fab color="primary" class="custom-medium-fab"
                                    aria-label="Send Message" (click)="sendMessage()"
                                    [disabled]="f.invalid || !isConnected">
                                    <mat-icon>send</mat-icon>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</div>