<mat-drawer-container class="drawerContainer" autosize>
    <mat-drawer #groups_drawer class="inner" mode="side" disableClose position='end'>
        <div *ngIf="!showGroupsTemplate" class="h-100">
            <div [ngSwitch]="showSlideTemplate" class="h-100">
                <ng-template [ngSwitchCase]="'CREATE_GROUP'">
                    <app-c-u-group [isNew]="isNew" [originalGroup]="originalGroup" [selectedGroup]="selectedGroup"
                        [classId]="class.id" [assignmentId]="assignment.id" [drawer]="groups_drawer"
                        (slide)="slide($event)"></app-c-u-group>
                </ng-template>
                <ng-template [ngSwitchCase]="'GROUP_STUDENTS'">
                    <app-group-students [class]="class" [assignment]="assignment" [group]="selectedGroup"
                        [drawer]="groups_drawer" (slideParent)="slide($event)">
                    </app-group-students>
                </ng-template>
                <ng-template [ngSwitchCase]="'GROUP_CHAT'">
                    <app-chat [class]="class" [assignment]="assignment" [group]="selectedGroup" [drawer]="groups_drawer"
                        (slideParent)="slide($event)">
                    </app-chat>
                </ng-template>
            </div>
        </div>
    </mat-drawer>
    <mat-drawer-content class="inner custom-header">
        <div *ngIf="showGroupsTemplate" class="h-100">
            <div class="header">
                <mat-toolbar class="p-0">
                    <span matTooltip="Back to classes" class="material-icons me-3">
                        <button class="custom-medium-fab closeIconColor mb-2" mat-mini-fab [color]="'primary'"
                            (click)="slideParent.emit(drawer)">
                            <mat-icon>keyboard_backspace</mat-icon>
                        </button>
                    </span>
                    <span class="name">Groups of Assignment [ {{assignment.title}} ]</span>
                    <!-- <span class="custom-search">
                        <mat-form-field appearance="outline">
                            <mat-label>Search</mat-label>
                            <input matInput (keyup)="applyFilter($event)" autocomplete="off">
                            <mat-icon matSuffix>search</mat-icon>
                        </mat-form-field>
                    </span> -->
                    <span matTooltip="Add new group" class="material-icons pull-right">
                        <button class="custom-medium-fab mb-2" mat-mini-fab [color]="'primary'"
                            (click)="add(groups_drawer)">
                            <mat-icon>add</mat-icon>
                        </button>
                    </span>
                </mat-toolbar>
                <mat-divider></mat-divider>
            </div>
            <div slim-scroll [offset]="69" [alwaysVisible]="true">
                <div class="content">
                    <div *ngIf="groups.length === 0 then gr1 else gr2"></div>
                    <ng-template #gr1>
                        <div class="no-items-instruction">
                            <div *ngIf="filterString === ''">
                                Groups are not added.
                                <button class="anchor-button" (click)="add(groups_drawer)">
                                    Click here </button> to add group.
                            </div>
                            <div *ngIf="filterString !== ''">Groups are not exists with the filter string.</div>
                        </div>
                    </ng-template>
                    <ng-template #gr2>
                        <mat-grid-list cols="4" rowHeight="120px">
                            <mat-grid-tile *ngFor="let item of groups">
                                <mat-card>
                                    <mat-card-header>
                                        <mat-card-title class="text-overflow" matTooltip="{{item.title}}">
                                            {{item.title}}
                                        </mat-card-title>
                                    </mat-card-header>
                                    <mat-card-actions class="actions">
                                        <div class="d-flex">
                                            <div class="flex-grow-1"> </div>
                                            <div>
                                                <button mat-mini-fab>
                                                    <mat-icon matTooltip="Edit" (click)="edit(groups_drawer, item)">
                                                        edit
                                                    </mat-icon>
                                                </button>
                                                <button mat-mini-fab>
                                                    <mat-icon matTooltip="Add students to group"
                                                        (click)="gotoGroupStudents(groups_drawer, item)">
                                                        group_add
                                                    </mat-icon>
                                                </button>
                                                <button mat-mini-fab>
                                                    <mat-icon matTooltip="Group Chat"
                                                        (click)="gotoChat(groups_drawer, item)">
                                                        question_answer
                                                    </mat-icon>
                                                </button>
                                            </div>
                                        </div>
                                    </mat-card-actions>
                                </mat-card>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </ng-template>
                </div>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
<div>