<div class="mat-drawer-settings">
    <mat-drawer-container autosize>
        <mat-drawer #admin_drawer class="outer" mode="side" opened>
            <div class="side-bar">
                <!-- <div class="open-close">
                    <span class="material-icons" (click)="admin_drawer.toggle()" matTooltip="Show / Hide">
                        chevron_right
                    </span>
                </div> -->
                <mat-nav-list>
                    <mat-list-item routerLink="/admin/about" routerLinkActive="active" matTooltip="About">
                        <mat-icon mat-list-icon>person</mat-icon>
                        <a matLine href="javascript:void(0)">ABOUT</a>
                    </mat-list-item>
                    <mat-list-item routerLink="/admin/classes" routerLinkActive="active" matTooltip="Class Rooms">
                        <mat-icon mat-list-icon>business</mat-icon>
                        <a matLine href="javascript:void(0)">CLASSES</a>
                    </mat-list-item>
                    <mat-list-item routerLink="/admin/users" routerLinkActive="active" matTooltip="Users">
                        <mat-icon mat-list-icon>group</mat-icon>
                        <a matLine href="javascript:void(0)">USERS</a>
                    </mat-list-item>
                </mat-nav-list>
            </div>
        </mat-drawer>
        <mat-drawer-content class="outer">
            <div class="side-bar-content">
                <router-outlet></router-outlet>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</div>