<div class="header">
    <mat-toolbar>
        <span class="name">{{isNew ? 'New' : 'Edit'}} Assignment</span>
        <span matTooltip="Close" class="material-icons pull-right">
            <button class="custom-medium-fab mb-2 closeIconColor" mat-mini-fab [color]="'primary'" matTooltip="Close"
                (click)="slide.emit(drawer)">
                <mat-icon>close</mat-icon>
            </button>
        </span>
    </mat-toolbar>
    <mat-divider></mat-divider>
</div>
<div class="content">
    <div slim-scroll [offset]="65" [alwaysVisible]="true">
        <form novalidate #f='ngForm' autocomplete="off">
            <div class="row">
                <div class="col-6">
                    <mat-form-field hintLabel="Max 75 characters" appearance="outline">
                        <mat-label>Name</mat-label>
                        <input name="title" [(ngModel)]="selectedAssignment.title" matInput maxlength="75" required
                            autofocus>
                        <mat-hint align="end">{{f.controls['title']?.value?.length || 0}}/75</mat-hint>
                        <mat-error *ngIf="f.controls['title']?.errors?.required">Name is mandatory.</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Description</mat-label>
                        <textarea rows="3" name="description" matInput
                            [(ngModel)]="selectedAssignment.description"></textarea>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="outline">
                        <mat-label>No. Of Groups</mat-label>
                        <input type="number" name="noOfGroups" [(ngModel)]="selectedAssignment.noOfGroups" min="1"
                            step="1" matInput required>
                        <mat-error *ngIf="f.controls['noOfGroups']?.errors?.required">
                            No. of groups value is mandatory.
                        </mat-error>
                        <mat-error *ngIf="f.controls['noOfGroups']?.errors?.min">
                            No. of groups value should be a positive number(Ex. 1).
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-6 small-drop-zone">
                    <mat-label>Assignment File *</mat-label>
                    <ngx-dropzone class="custom" [multiple]="false" [accept]="'.doc,.txt,.pdf'"
                        (change)="onSelect($event)" [disabled]="!isNew">
                        <ngx-dropzone-label *ngIf="isNew">Drag or Drop file here !!!</ngx-dropzone-label>
                        <ngx-dropzone-label *ngIf="!isNew">File will not be updated.</ngx-dropzone-label>
                        <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                            <ngx-dropzone-label>
                                <mat-icon> file_present </mat-icon>
                                <div>{{ f.name }}</div>
                            </ngx-dropzone-label>
                        </ngx-dropzone-preview>
                    </ngx-dropzone>
                    <div class="text-center">
                        <mat-error *ngIf="filesErrorMessage !== ''">{{filesErrorMessage}}</mat-error>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="d-flex justify-content-end pe-4">
        <button mat-raised-button color="primary" (click)="save()"
            [disabled]="f.invalid || (isNew && files.length === 0)">
            {{isNew?'Create Assignment':'Update Assignment'}}
        </button>
    </div>
</div>