<mat-drawer-container class="drawerContainer" autosize>
    <mat-drawer #class_students_drawer class="inner" mode="side" disableClose position='end'>
        <div *ngIf="!showTemplate" class="h-100">
            <div [ngSwitch]="showSlideTemplate" class="h-100">
                <ng-template [ngSwitchCase]="'UPLOAD_CLASS_STUDENTS'">
                    <app-file-upload [title]='"Upload Students File"' [type]="'UPLOAD_CLASS_STUDENTS'"
                        [componentId]='class.id' [componentName]='class.title' [drawer]='class_students_drawer'
                        [multiple]='false' [acceptedFileTypes]='".csv"' [filesCount]='1' (slide)="slide($event)">
                    </app-file-upload>
                </ng-template>
            </div>
        </div>
    </mat-drawer>
    <mat-drawer-content class="inner custom-header">
        <div *ngIf="showTemplate" class="h-100">
            <div class="header">
                <mat-toolbar class="p-0">
                    <span matTooltip="Back to classes" class="material-icons me-3">
                        <button class="custom-medium-fab closeIconColor mb-2" mat-mini-fab [color]="'primary'"
                            (click)="slideParent.emit(drawer)">
                            <mat-icon>keyboard_backspace</mat-icon>
                        </button>
                    </span>
                    <span class="name">Students Of Class [ {{class.title}} ]</span>
                    <span class="custom-search">
                        <mat-form-field appearance="outline">
                            <mat-label>Search</mat-label>
                            <input matInput (keyup)="applyFilter($event)" autocomplete="off">
                            <mat-icon matSuffix>search</mat-icon>
                        </mat-form-field>
                    </span>
                    <span matTooltip="Import students" class="material-icons pull-right"
                        *ngIf="user.type !== 'STUDENT'">
                        <button class="custom-medium-fab mb-2" mat-mini-fab [color]="'primary'"
                            (click)="uploadStudents(class_students_drawer)">
                            <mat-icon>add</mat-icon>
                        </button>
                    </span>
                </mat-toolbar>
                <mat-divider></mat-divider>
            </div>
            <div slim-scroll [offset]="69" [alwaysVisible]="true">
                <div class="content">
                    <div *ngIf="filteredItems.length === 0 then st1 else st2"></div>
                    <ng-template #st1>
                        <div class="no-items-instruction">
                            <div *ngIf="filterString === ''">
                                <div *ngIf="user.type === 'STUDENT' then cl3 else cl4"></div>
                                <ng-template #cl3>Students are not added.</ng-template>
                                <ng-template #cl4>
                                    Students are not added.
                                    <button class="anchor-button" (click)="uploadStudents(class_students_drawer)">
                                        Click here </button> to upload students file.
                                </ng-template>
                            </div>
                            <div *ngIf="filterString !== ''">Students are not exists with the filter string.</div>
                        </div>
                    </ng-template>
                    <ng-template #st2>
                        <mat-grid-list cols="4" rowHeight="125px">
                            <mat-grid-tile *ngFor="let item of filteredItems">
                                <mat-card>
                                    <mat-card-header class="no-actions">
                                        <mat-card-title class="text-overflow"
                                            matTooltip="{{item.firstName}} {{item.lastName}}">
                                            {{item.firstName}} {{item.lastName}}
                                        </mat-card-title>
                                        <mat-card-subtitle class="text-overflow" matTooltip="{{item.email}}">
                                            {{item.email}}
                                        </mat-card-subtitle>
                                        <mat-card-subtitle class="text-center text-overflow mt-0 mb-1"
                                            matTooltip="{{item.type}}"> {{item.type}} </mat-card-subtitle>
                                    </mat-card-header>
                                </mat-card>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </ng-template>
                </div>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
<div>