/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    outline: none;
}

$banner-color: #5C6BC0;
$white-color: #fff;
$default-font-color: #000000de;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; color: $default-font-color; }

/* spinner */
.loaderImageContainer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1052;

    .loader {
        position: absolute;
        left: 50%;
        top: 50%;
        opacity: 1;
        transform: translateX(-50%) translateY(-50%);
    }
}

.is-loading>span.mat-option-text {
    display: flex;
    justify-content: center;
}

.app-header:not(.with-out-header) {
    background-color: $banner-color;
    color: $white-color;
    font-weight: 600;

    .chat-icon {
        position: absolute;
        top: 13px;
        margin-left: 8px;
    }
}

.middle-space {
    flex: 1 1 auto;
}

.header-user-info {
    width: auto;
    max-width: 250px;
    border: solid 1px #ccc;
    border-radius: 5px;
    background: #fff;
    text-align: center;
    padding: 10px;
    margin: 0;

    mat-card {
        box-shadow: none !important;
        padding-top: 0 !important;
        mat-card-title {
            font-size: 16px;
        }
    }
    
    button {
        padding: 0px 30px;
    }
}

.app-main {
    height: calc(100% - 64px - 48px); /* calculating height without header and footer height */
}

.app-footer {
    font-size: 14px;
    height: 48px !important;
    background: #fff;
    justify-content: center;
}

.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.closeIconColor {
    background: #616161 !important;
}

button:focus {
    outline: none !important;
}

.login-container{
    
    .login-image {
        text-align: center;
        color: #3f51b5 !important;
        position: relative;
        top: 0;
        left: 0;
        height: 100%;
        
        h1 {
            font-size: 40px;
            margin-top: 10px;
            font-weight: bold;
        }
    }

    .login-form {
        position: relative;
        top: 0;
        left: 0;
        height: 100%;

        .login-header {
            color: #3f51b5 !important;
            font-size: 30px !important;
            text-align: center;
            margin-bottom: 35px !important;
        }
    }

    .content-position {
        width: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        opacity: 1;
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }
}

.mat-drawer-settings {
    width: 100%;
    height: 100%;

    mat-drawer-container {
        width: 100%;
        height: 100%;

        mat-drawer.outer {
            min-width: 50px;
            width: 250px;
            background: #eee;
            padding: 10px 0px 10px 15px;
            border: none;

            .side-bar {
                height: 100%;
                color: #343a40;
                background: #fff;
                padding: 5px;

                mat-list-item {
                    border-left: 3px solid #fff;

                    &.active, 
                    &:hover {
                        background: #eee;
                        border-left: 3px solid #343a40;
                    }
                }
            }
        }

        mat-drawer-content.outer {
            height: 100%;
            background: #eee;
            padding: 10px 15px;

            .side-bar-content {
                height: 100%;
                background: #fff;
                padding: 5px;

                .header mat-toolbar {
                    height: 35px;
                    background: #fff;
                    color: #343a40;
                    font-size: 16px;

                    .name {
                        flex: auto;
                    }
                }
            }
        }

        mat-drawer.inner {
            width: 100%;
            background: #fff;
            border: none !important;
        }

        mat-drawer-content.inner {
            height: 100%;
            background: #fff;
            padding: 10px 15px 0px 15px;
        }
    }
}

.actions {
    .mat-mini-fab .mat-button-wrapper {
        color: #6c757d;
        padding: 0;
    }

    mat-icon {
        color: #6c757d;
        padding: 0;

        &:hover {
            color: #343a40;
        }
    }

    button {
        background-color: transparent !important;
        box-shadow: none !important;
    }
}

.about-card {
    box-shadow: none !important;
    width: 40rem;
    height: 20rem;
    margin-top: 30px;
    padding: 30px !important;
    background-color: #E8EAF6;
    .user-img {
        display: grid;
        text-align: center;
        font-size: 13px;
        font-weight: 500;
        .mat-icon {
            font-size: 100px;
            width: 100px;
            height: 100px;
            color: #ccc;
            margin-top: -10px;
        }
    }

    .mat-card-actions {
        position: absolute;
        bottom: 30px;
        right: 30px;
        .mat-icon {
            margin-right: 5px;
        }
    }
}

.side-bar-content .content {
    padding: 10px 20px 0 20px;
    
    .row{
        margin: 0 !important;
    }

    mat-grid-tile { 
        mat-card {
            width: 95%;
            background: #eee;
            .mat-card-header {
                .mat-card-header-text {
                    width: 100%;
                    margin: 0;
                    font-size: 16px;
                    border-bottom: 1px dotted #343a40;

                    mat-card-title {
                        font-size: 15px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }

                &.no-actions {
                    .mat-card-header-text{
                        border: none !important;
                    }
                }
            }
        }
    }
}

.mat-select-panel {
    overflow-x: hidden !important;
}

ngx-dropzone {
    justify-content: center;
    margin: 20px 40px;
    height: 300px !important;

    &.custom {
        margin: 0 !important;
        height: 100px !important;
        ngx-dropzone-preview {
            height: 60px !important;
            margin: 0 !important;
            min-width: 180px !important;
            min-height: 60px !important;

            ngx-dropzone-label {
                font-size: 10px !important;
                mat-icon {
                    font-size: 16px !important;
                }
            }
        }
    }
}

.small-drop-zone {
    margin-top: -15px !important;
    mat-label {
        font-size: 13px;
        font-weight: 500;
        color: #000000a3 !important;
        position: relative;
        top: 11px;
        left: 14px;
        background: #fff !important;
        padding: 0 10px;
        z-index: 1;
    }
}

form mat-form-field {
    width: 100%;

    .mat-form-field-flex .mat-form-field-infix .mat-form-field-label-wrapper .mat-form-field-label {
        font-weight: 500 !important;
    }
}

mat-card {
    color: #343a40 !important;
    margin-bottom: 2px;
}

.mat-card-avatar mat-icon {
    font-size: 40px;
}

.custom-search {
    margin-right: 20px;
    margin-bottom: .5rem!important;

    mat-form-field .mat-form-field-wrapper {
        margin: 0 !important;
        padding: 0 !important;

        .mat-form-field-flex {
            height: 30px;
        }
    }

    .mat-form-field-appearance-outline .mat-form-field-outline{
        top: 0;
    }

    .mat-form-field-flex { 
        .mat-form-field-infix {
            padding: 5px 0;
            top: 0px;
            border-top: 0;

            input {
                font-size: 13px;
            }

            .mat-form-field-label-wrapper {
                font-size: 13px;
            }
        }

        .mat-form-field-suffix {
            top: 6px;

            .mat-icon {
                font-size: 18px;
                line-height: 16px;
                height: 16px;
                width: 16px;
            }
        }
    }
}

.custom-medium-fab {
    width: 28px !important;
    height: 28px !important;
    line-height: 28px !important;

    .mat-button-wrapper {
        padding: 0 !important;
        width: 20px !important;
        height: 20px !important;
        line-height: 20px !important;
        margin-right: 1px;

        .mat-icon {
            font-size: 17px;
            width: 20px;
            height: 19px;
            line-height: 18px;
            font-weight: 600;
        }
    }
}

.custom-autocomplete mat-option {
    height: 25px;
    line-height: 25px;
    font-size: 13px;
}

.search-form-field {
    margin-right: 20px;

    mat-form-field .mat-form-field-wrapper {
        margin: 0 !important;
        padding: 0 !important;

        .mat-form-field-flex {
            height: 50px;

            .mat-form-field-infix {
                border-top: 7px solid transparent !important;
            }
        }
    }
}

.drag-drop-list {
    height: 100%;

    .students-list-container {
        height: 100%;
        width: 400px;
        border: 1px solid #ccc;
        border-radius: 4px;

        
        .student-list-header {
            border-bottom: 1px solid #ccc;
            padding: 7px 10px 0px 10px;
            background: #bbb;

            h2 { font-size: 16px; }

            .custom-search mat-form-field .mat-form-field-wrapper .mat-form-field-flex {
                background-color: $white-color;
                border-radius: 6px;
            }
        }

        .students-list {
            padding: 5px 10px;

            &.cdk-drop-list-dragging .student-snippet:not(.cdk-drag-placeholder) {
                transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
            }

            .empty-msg {
                font-size: 13px;
                color: #aaa;
                text-align: center;
                position: relative;
                top: 30%;
            }

            .student-snippet {
                padding: 10px;
                margin: 2px;
                border: solid 1px #ccc;
                border-radius: 4px;
                color: $default-font-color;
                box-sizing: border-box;
                cursor: move;
                font-size: 14px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                mat-checkbox {
                    padding: 0 5px !important;
                    .mat-checkbox-inner-container {
                        margin-right: 5px;
                        height: 14px !important;
                        width: 14px !important;
                    }
                }
            }
        }
    }

    .assign-buttons {
        height: 100%;
        width: 200px;
        display: grid;
        padding: 0 15px;
        text-align: center;

        button {
            width: 150px;
            margin-bottom: 20px;
            vertical-align: middle;
            position: relative;
            top: 30%;
            mat-icon, span {
                color: $white-color !important;
            }
        }
    }
}

.cdk-drag-preview {
    box-sizing: border-box;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
    mat-checkbox {
        display: none;
    }
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.student-chat {

    .group-members {
        margin: 5px 0 !important;
        background: #f8f8f8 none repeat scroll 0 0 !important;
        width: 20% !important; 
        .mat-drawer-inner-container {
            border:1px solid #c4c4c4 !important;
            border-radius: 4px !important;
        }

        .heading {
            mat-toolbar {
                height: 40px;
                display: flex;
                justify-content: center;
                font-size: 15px;
                background: #ccc;
            }
        }

        .members {
            padding: 10px 15px;
            overflow: hidden !important;
            .member {
                display: flex;
                justify-content: flex-start;
                margin: 10px 0;
                height: 35px;
                line-height: 3;

                .image {
                    width: 15%;
                    button {
                        box-shadow: none !important;
                        cursor: default !important;
                    }
                    span.mat-button-wrapper {
                        font-size: 12px !important;
                    }
                }

                .name {
                    width: 84%;
                    padding: 0px 10px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
        }
    }

    .messages-container {
        margin: 5px 5px 5px 0;
        border: 1px solid #c4c4c4;
        border-radius: 4px;

        .messages {
            padding: 0px 20px;

            .message {
                display: inline-block;
                width: 100%;
                margin: 10px 0;
                
                .image {
                    display: inline-block;
                    width: 5%;
                    button {
                        box-shadow: none !important;
                        cursor: default !important;
                    }
                    span.mat-button-wrapper {
                        font-size: 12px !important;
                    }
                }

                .in-msg {
                    display: inline-block;
                    vertical-align: bottom;
                    width: 94%;
                }

                .out-msg {
                    float: right;
                    max-width: 50%;
                    text-align: end;
                }

                .details {
                    max-width: 50%;
                }

                .title {
                    display: inline-block;
                    white-space: pre-line;
                    background: #ebebeb none repeat scroll 0 0;
                    border-radius: 3px;
                    color: #646464;
                    font-size: 14px;
                    margin: 0;
                    padding: 5px 10px 5px 12px;

                    &.out {
                        background: #3f51b5 none repeat scroll 0 0;
                        color:#fff;
                        text-align: end;
                    }
                }

                .sub-title {
                    color: #747474;
                    display: block;
                    font-size: 12px;
                    margin: 8px 0 2px 0;
                    &.out {
                        text-align: end;
                    }
                }

                .info-msg {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;

                    .line {
                        flex: 1;
                    }

                    .name {
                        padding-left: 10px;
                        padding-right: 10px;
                        font-size: 11px;
                        font-weight: 500;
                        color: #aaa;
                    }
                }
            }
        }

        .write-msg {
            padding: 3px 10px 3px 20px;
            border-top: 1px solid #c4c4c4;

            .input {
                resize: none;
                background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
                border: medium none;
                color: $default-font-color;
                font-size: 14px;
                width: 95%;
                padding: 7px 0;
            }

            .send-msg {
                width: 4%;
                display: inline-block;
                text-align: right;
                height: 48px;
                line-height: 48px;
                
                mat-icon {
                    margin-left: 2px;
                }
            }
        }
    }
}

.no-items-instruction {
    display: flex;
    justify-content: center;
    color: #aaa;
    height: 300px;
    width: 100%;
    font-size: 18px;

    div {
        margin: auto;

        button {
            color: #010175a3;
            background: white;
            border: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}