<mat-drawer-container class="drawerContainer" autosize>
    <mat-drawer #about_drawer class="inner" mode="side" disableClose position='end'>
        <div *ngIf="!showTemplate" class="h-100">
            <div [ngSwitch]="showSlideTemplate" class="h-100">
                <ng-template [ngSwitchCase]="'CREATE_CLASS'">
                    <app-c-u-class [isNew]='isNew' [originalClass]='originalClass' [selectedClass]='selectedClass'
                        [professors]='professors' [graduateAssistants]='graduateAssistants' [drawer]='about_drawer'
                        (slide)="slide($event)">
                    </app-c-u-class>
                </ng-template>
                <ng-template [ngSwitchCase]="'CREATE_USER'">

                </ng-template>
            </div>
        </div>
    </mat-drawer>
    <mat-drawer-content class="inner custom-header">
        <div *ngIf="showTemplate" class="h-100">
            <div class="header">
                <mat-toolbar class="p-0">
                    <span class="name">USER INFORMATION</span>
                </mat-toolbar>
                <mat-divider></mat-divider>
            </div>
            <div class="content">
                <div class="col d-flex justify-content-center">
                    <mat-card class="about-card">
                        <mat-card-title-group>
                            <mat-card-title matTooltip="{{user.firstName}} {{user.lastName}}">
                                {{user.firstName}} {{user.lastName}}</mat-card-title>
                            <mat-card-subtitle matTooltip="{{user.email}}">{{user.email}}</mat-card-subtitle>
                            <span class="user-img">
                                <mat-icon>account_box</mat-icon>
                                <span>{{user.type}}</span>
                            </span>
                        </mat-card-title-group>
                        <mat-card-content> Any description can be shown here ... </mat-card-content>
                        <mat-card-actions align="end">
                            <button mat-raised-button color="primary" aria-label="Add New Class"
                                matTooltip="Add New Class" (click)="addClass(about_drawer)">
                                <mat-icon>domain_add</mat-icon> Add Class
                            </button>
                            <button mat-raised-button color="primary" aria-label="Add New User"
                                matTooltip="Add New User" (click)="addUser(about_drawer)">
                                <mat-icon>person_add_alt_1</mat-icon> Add User
                            </button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
<div>