<mat-drawer-container class="drawerContainer" autosize>
    <mat-drawer #assignments_drawer class="inner" mode="side" disableClose position='end'>
        <div *ngIf="!showAssignmentsTemplate" class="h-100">
            <div [ngSwitch]="showSlideTemplate" class="h-100">
                <ng-template [ngSwitchCase]="'CREATE_ASSIGNMENT'">
                    <app-c-u-assignment [isNew]="isNew" [originalAssignment]="originalAssignment"
                        [selectedAssignment]="selectedAssignment" [classId]="class.id" [drawer]="assignments_drawer"
                        (slide)="slide($event)"></app-c-u-assignment>
                </ng-template>
                <ng-template [ngSwitchCase]="'ASSIGNMENT_GROUPS'">
                    class assignments
                </ng-template>
            </div>
        </div>
    </mat-drawer>
    <mat-drawer-content class="inner custom-header">
        <div *ngIf="showAssignmentsTemplate" class="h-100">
            <div class="header">
                <mat-toolbar class="p-0">
                    <span matTooltip="Back to classes" class="material-icons me-3">
                        <button class="custom-medium-fab closeIconColor mb-2" mat-mini-fab [color]="'primary'"
                            (click)="slideParent.emit(drawer)">
                            <mat-icon>keyboard_backspace</mat-icon>
                        </button>
                    </span>
                    <span class="name">Assignments of class [ {{class.title}} ]</span>
                    <!-- <span class="custom-search">
                        <mat-form-field appearance="outline">
                            <mat-label>Search</mat-label>
                            <input matInput (keyup)="applyFilter($event)" autocomplete="off">
                            <mat-icon matSuffix>search</mat-icon>
                        </mat-form-field>
                    </span> -->
                    <span matTooltip="Add new assignment" class="material-icons pull-right">
                        <button class="custom-medium-fab mb-2" mat-mini-fab [color]="'primary'"
                            (click)="add(assignments_drawer)">
                            <mat-icon>add</mat-icon>
                        </button>
                    </span>
                </mat-toolbar>
                <mat-divider></mat-divider>
            </div>
            <div slim-scroll [offset]="69" [alwaysVisible]="true">
                <div class="content">
                    <mat-grid-list cols="4" rowHeight="120px">
                        <mat-grid-tile *ngFor="let item of assignments">
                            <mat-card>
                                <mat-card-header>
                                    <mat-card-title class="text-overflow" matTooltip="{{item.title}}">
                                        {{item.title}}
                                    </mat-card-title>
                                </mat-card-header>
                                <mat-card-actions class="actions">
                                    <div class="d-flex">
                                        <div class="flex-grow-1"> </div>
                                        <div>
                                            <button mat-mini-fab>
                                                <mat-icon matTooltip="Edit" (click)="edit(assignments_drawer, item)">
                                                    edit
                                                </mat-icon>
                                            </button>
                                            <button mat-mini-fab>
                                                <mat-icon matTooltip="Download assignment file"
                                                    (click)="downloadAssignmentFile(assignments_drawer, item)">
                                                    file_download
                                                </mat-icon>
                                            </button>
                                            <button mat-mini-fab>
                                                <mat-icon matTooltip="Groups"
                                                    (click)="gotoAssignmentGroups(assignments_drawer, item)">
                                                    view_list
                                                </mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                </mat-card-actions>
                            </mat-card>
                        </mat-grid-tile>
                    </mat-grid-list>
                </div>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
<div>