<mat-drawer-container class="drawerContainer" autosize>
    <mat-drawer #classes_drawer class="inner" mode="side" disableClose position='end'>
        <div *ngIf="!showTemplate" class="h-100">
            <div [ngSwitch]="showSlideTemplate" class="h-100">
                <ng-template [ngSwitchCase]="'CREATE_CLASS'">
                    <app-c-u-class [user]="loggedInUser" [isNew]='isNew' [originalClass]='originalClass'
                        [selectedClass]='selectedClass' [professors]='professors'
                        [graduateAssistants]='graduateAssistants' [drawer]='classes_drawer' (slide)="slide($event)">
                    </app-c-u-class>
                </ng-template>
                <ng-template [ngSwitchCase]="'CLASS_STUDENTS'">
                    <app-class-students [user]="loggedInUser" [class]="selectedClass" [drawer]='classes_drawer'
                        (slideParent)="slide($event)">
                    </app-class-students>
                </ng-template>
                <ng-template [ngSwitchCase]="'CLASS_ASSIGNMENTS'">
                    <app-assignments [user]="loggedInUser" [class]="selectedClass" [drawer]="classes_drawer"
                        (slideParent)="slide($event)">
                    </app-assignments>
                </ng-template>
            </div>
        </div>
    </mat-drawer>
    <mat-drawer-content class="inner custom-header">
        <div *ngIf="showTemplate" class="h-100">
            <div class="header">
                <mat-toolbar class="p-0">
                    <span class="name">CLASSES</span>
                    <span class="custom-search">
                        <mat-form-field appearance="outline">
                            <mat-label>Search</mat-label>
                            <input matInput (keyup)="applyFilter($event)" autocomplete="off">
                            <mat-icon matSuffix>search</mat-icon>
                        </mat-form-field>
                    </span>
                    <span matTooltip="Add new class" class="material-icons pull-right"
                        *ngIf="loggedInUser.type !== 'STUDENT'">
                        <button class="custom-medium-fab mb-2" mat-mini-fab [color]="'primary'"
                            (click)="add(classes_drawer)">
                            <mat-icon>add</mat-icon>
                        </button>
                    </span>
                </mat-toolbar>
                <mat-divider></mat-divider>
            </div>
            <div class="content">
                <div slim-scroll [offset]="74" [alwaysVisible]="true">
                    <div *ngIf="filteredItems.length === 0 then cl1 else cl2"></div>
                    <ng-template #cl1>
                        <div class="no-items-instruction">
                            <div *ngIf="filterString === ''">
                                <div *ngIf="loggedInUser.type === 'STUDENT' then cl3 else cl4"></div>
                                <ng-template #cl3>Classes are not added.</ng-template>
                                <ng-template #cl4>
                                    Classes are not added.
                                    <button class="anchor-button" (click)="add(classes_drawer)">
                                        Click here </button> to add class.
                                </ng-template>
                            </div>
                            <div *ngIf="filterString !== ''">Classes are not exists with the filter string.</div>
                        </div>
                    </ng-template>
                    <ng-template #cl2>
                        <mat-grid-list cols="4" rowHeight="120px">
                            <mat-grid-tile *ngFor="let item of filteredItems">
                                <mat-card>
                                    <mat-card-header>
                                        <mat-card-title class="text-overflow" matTooltip="{{item.title}}">
                                            {{item.title}}
                                        </mat-card-title>
                                    </mat-card-header>
                                    <mat-card-actions class="actions">
                                        <div class="d-flex">
                                            <div class="flex-grow-1">
                                                <mat-icon matTooltip="Description: {{item.description}}">info</mat-icon>
                                            </div>
                                            <div>
                                                <button mat-mini-fab>
                                                    <mat-icon matTooltip="Edit" (click)="edit(classes_drawer, item)">
                                                        edit
                                                    </mat-icon>
                                                </button>
                                                <button mat-mini-fab>
                                                    <mat-icon matTooltip="Goto class students"
                                                        (click)="gotoClassStudents(classes_drawer, item)">
                                                        people
                                                    </mat-icon>
                                                </button>
                                                <button mat-mini-fab>
                                                    <mat-icon matTooltip="Goto class assignments"
                                                        (click)="gotoClassAssignments(classes_drawer, item)">
                                                        view_list
                                                    </mat-icon>
                                                </button>
                                            </div>
                                        </div>
                                    </mat-card-actions>
                                </mat-card>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </ng-template>
                </div>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>