<div *ngIf="rootScope.IS_USER_LOGGED_IN.value then lg1 else lg2"></div>
<ng-template #lg1>
    <mat-toolbar class="app-header">
        <span>
            <span>COMPS CHAT</span>
            <span class="material-icons chat-icon"> question_answer </span>
        </span>
        <span class="middle-space"></span>
        <mat-icon (click)="isOpen = !isOpen" type="button" cdkOverlayOrigin #trigger="cdkOverlayOrigin">
            account_circle
        </mat-icon>
        <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger" [cdkConnectedOverlayOpen]="isOpen"
            [cdkConnectedOverlayHasBackdrop]="true" (detach)="isOpen = false" (backdropClick)="isOpen = false">
            <div class="header-user-info">
                <mat-card>
                    <mat-card-title>{{loggedInUser.firstName}} {{loggedInUser.lastName}}</mat-card-title>
                    <mat-card-subtitle>{{loggedInUser.email}}</mat-card-subtitle>
                    <mat-card-subtitle>{{loggedInUser.type}}</mat-card-subtitle>
                </mat-card>
                <button mat-raised-button color="accent" (click)="logout()">Logout</button>
            </div>
        </ng-template>
    </mat-toolbar>
</ng-template>
<ng-template #lg2>
    <mat-toolbar class="app-header with-out-header bg-white"> </mat-toolbar>
</ng-template>